#scrolling-page-root {
  display: block;
  width: 100%;
  /* height: 6000px; */
  overflow: hidden;
}
.fixed-container {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}


/* ===== 블라인드 섹션 ===== */
.section-blind {
  position: relative;
  /* border: 1px solid; */
  width: 100%;
  height: calc(100vh + 3000px);
}
.blind-bg {
  width: 100%;
  height: 100vh;
  background-image: url('/images/blind.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 10;
  /* opacity: 0; */
}
.main-text > span {
  display: inline-block;
  font-size: 3rem;
  letter-spacing: 0.3em;
  color: #fff;
  text-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

/* ===== 벽 여자 섹션 ===== */
#sesection-wall-woman {
  width: 100%;
  height: 3000px;
  display: block;
}
.woman-wall-container {
  /* width: 800px;
  height: 500px; */
  position: absolute;
  /* left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -250px; */
  overflow: hidden;
  z-index: 1;
}
.woman-wall-wrapper {
  position: relative;
}
.woman-wall-img {
  width: 800px;
  position: absolute;
}


/* ===== 핑크 텀블러 ===== */
.pink-bottle-container {
  /* background-color: #fff; */
  width: 300px;
  height: 560px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(30%, -55%);
  overflow: hidden;
}
.pink-bottle-img {
  position: absolute;
}


/* ===== 텀블러 드롭 섹션 ===== */
#section-drop-bottle {
  /* background-color: #f5f5f5; */
  width: 100%;
  height: 800px;
  position: relative;
}

/*  # 왼쪽 텀블러 드롭 */
.left-drop-bottle-container {
  /* border: 1px solid;
  box-sizing: border-box; */
  position: absolute;
  top: calc(50% - 250px);
  left: 0;
  width: 700px;
  height: 500px;
  background: #efe6de;
  overflow: hidden;
  clip: rect(250px, 800px, 250px, 0px);
}
.left-drop-bottle_table {
  position: absolute;
  top: -20%;
  left: -390px;
  transform: rotate(90deg) scale(1.4);
}
.left-drop-bottle_handle {
  position: absolute;
  left: 78%;
  top: 10px;
  transform: rotate(90deg) scale(0.7);
  transform-origin: center top;
}
.left-drop-bottle_blue-bottle {
  position: absolute;
  top: -160px;
  left: 70px;
  transform: rotate(90deg) scale(0.8);
  transform-origin: center bottom;
}
/*  # 텍트스`감각적 라인으로` */
.left-drop-text-container {
  position: absolute;
  display: block;
  top: 28%;
  left: 177px;
  z-index: 1;
  text-align: left;
}
.left-drop-text-container span{
  display: inline-block;
  color: #999999;
  font-size: 5rem;
  font-weight: 200;
}

/*  # 오른쪽 컨테이너` */
.right-drop-text-container {
  position: absolute;
  right: 0;
  width: 50%;
  height: 800px;
  background-color: #efe6de;
  overflow: hidden;
}
.right-drop-bottle_table {
  position: absolute;
  bottom: -510px;
  right: 20px;
  transform: scale(1.9);
}
.right-drop-bottle_blue-bottle {
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-left: -50px;
  transform: scale(1.1);
}